---
version: '3.0'
services:
  busybox:
    image: docker.io/library/busybox@sha256:d80cd694d3e9467884fcb94b8ca1e20437d8a501096cdf367a5a1918a34fc2fd
    command: |
      sh /var/lib/busybox/run.sh
    volumes:
      - ./run.sh:/var/lib/busybox/run.sh:ro
      - /etc/machine-id:/var/lib/busybox/machine-id:ro      