build
k8s-operator-hpcr.exe
.env
samples/apikey.yaml
main.exe

dist/
private/
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
**/.cache
**/.terraform
**/.terraform.lock.hcl
**/*.tfvars
