---
version: '3.0'
services:
  busybox:
    image: docker.io/library/busybox@sha256:d80cd694d3e9467884fcb94b8ca1e20437d8a501096cdf367a5a1918a34fc2fd
    volumes:
      - /mnt/busybox:/srv/busybox
    command: |
      echo "Hello from busybox at $(date)" >> /srv/busybox/log.txt && cat /srv/busybox/log.txt
    